@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
* {
  box-sizing: border-box;
}
body {
  font-family: Lato;
  font-size: 2rem;
  color: white;
  text-align: center;
}
/*
odd 单数
even 双数
*/
div:nth-child(odd) {
  background-color: #21BBD4;
}
div:nth-child(even) {
  background-color: #2A737F;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 100px 1fr 1fr;
  grid-template-columns: 100px repeat(2, 1fr);
  /*
  fr 是 fraction的缩写。 屏幕的X坐标被分成了12 等份。 
  */
  grid-template-columns: 7fr 5fr;
  /*
  grid-template-columns: 20px repeat(6, 1fr) 20px;
  
  grid-template-columns: repeat(5, 1fr 2fr);
  */
  
}