@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500@display=swap");

.image-container {
  position: relative;
  /* 使容器相对定位 */
  overflow: hidden;
  /*隐藏超出容器内容 */
  background-color: cadetblue;
  height: 100vh;
  width: auto;
  border: solid red;
  display: grid;
  grid-template-columns: [first] 1fr [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [last];
  gap: 2px;
  grid-template-rows: [top] 200px [row1] 200px [row2] 200px [bottom];
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: dashed blue 2px;
}

.image-container img:nth-child(1) {
  grid-column: first/ col1;
  grid-row: top/ row1;


}

.image-container img:nth-child(2) {
  grid-column: first/col1;
  grid-row: row2/ bottom;

}

.image-container img:nth-child(3) {
  grid-column: col2/ col3;
  grid-row: row1/ row2;
}

.image-container img:nth-child(4) {
  grid-column: col4/ last;
  grid-row: row2/ bottom;
}

.image-container img:nth-child(5) {
  grid-column: col4/ last;
  grid-row: top/ row1;
}

article{
  display: inline;
  color: whitesmoke;
  font-size: medium;
  background-size: cover;
  background-image: url("https://i.pinimg.com/564x/86/3c/b0/863cb062d0b2263b50b51ab5c7fa50a4.jpg");
}